.modal-lg, .modal-xl{
    max-width: width 1024px !important;
}
.card-header .btn{
    float: right !important;
}
.card.pic-upload {
    max-width: 230px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.card.pic-upload .card-header {
    padding: 10px 0;
}

.card.pic-upload .card-header h6 {
    margin: 0;
}

.card.pic-upload .card-body {
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
}

.card.pic-upload .card-body input {
    display: none;
}

.card.pic-upload .card-body img {
    max-width: 230px;
    max-height: 230px;
    width: 100%;
}
.question-heading{
    color: #110840 !important;
}
.question-single{
    padding-bottom: 40px;
}
.option-label{
    display: block;
    padding: 5px;
}
.option-text{
    padding-left: 5px;
}
.font-weight-bold{
    font-weight: 600;
}