<block-ui>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-default">
        <div class="card-header">
          <!-- <button class="btn btn-secondary  btn-sm float-end" [routerLink]="[ '/user-entry' ]"><i
              class="feather icon-plus "></i> Create User</button> -->

          <div class="d-sm-flex align-items-center justify-content-between pb-3 text-center text-sm-start">
            <h5>Pending Post List </h5>
          </div>

        </div>
        <div class="card-block ">
          <div class="row ">

            <div class="col-lg-12">
              <form [formGroup]="filterForm">
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label class="form-label">Search by mobile number, company name , first name or last name</label>
                    <input type="text" formControlName="search_text" class="form-control form-control-sm"
                      placeholder="Type.." />
                  </div>
                  <!-- <div class="mb-3 col-md-4">
                    <label class="form-label">Select status</label>
                    <ng-select formControlName="status" [clearable]="true" [clearOnBackspace]="false"
                      [items]="statusTypes" bindLabel="name" bindValue="id" class="form-control form-control-sm"
                      placeholder="Select status">
                    </ng-select>
                  </div> -->
                  <div class="mb-3 col-md-4 mt-4 pt-1">
                    <button type="button" (click)="filterCustomer()" class="btn btn-info btn-sm  me-2"><i
                        class="feather icon-filter"></i> Filter </button>
                    <button type="button" (click)="resetFilter()" class="btn btn-outline-danger btn-sm"><i
                        class="feather icon-refresh-ccw"></i> Reset </button>
                  </div>
                </div>
              </form>
            </div>


            <div class="col-lg-12 ">
              <ngx-datatable class="material table-bordered"
              [rows]="rows"
              [loadingIndicator]="loadingIndicator"
              [externalPaging]="true"
              [columnMode]="ColumnMode.force"
              [headerHeight]="40"
              [footerHeight]="50"
              rowHeight="auto"
              [count]="page.totalElements"
              [offset]="page.pageNumber"
              [limit]="page.size"
              (page)="setPage($event)"
            >

                <ngx-datatable-column [minWidth]="70" [maxWidth]="100" name="Sl" [draggable]="false" [sortable]="false">
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span> {{ rowIndex + 1 }} </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Item Name" prop="item_name" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{value }}"> {{ value }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Postee Name" [draggable]="false" [sortable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span title="{{ row.first_name + ' ' + row.last_name }}"> {{ row.first_name + ' ' + row.last_name }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Mobile Nubmer" prop="mobile_number" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{value}}"> {{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Company Name" prop="company_name" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{value}}"> {{ value }}</span>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Company Name" prop="company_name" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}"> {{ value }} </span>
                  </ng-template>
                </ngx-datatable-column> -->


                <!-- <ngx-datatable-column name="Transaction Count" prop="transaction_count" [draggable]="false"
                  [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}"> {{ value }} </span>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column [minWidth]="70" [maxWidth]="200"  name="Status" prop="status" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="value == 'Pending'" class="badge bg-warning" title="{{ value }}"> {{ value }} </span>
                    <span *ngIf="value == 'Published'" class="badge bg-success" title="{{ value }}"> {{ value }} </span>
                    <span *ngIf="value == 'Suspended'" class="badge bg-danger" title="{{ value }}"> {{ value }} </span>
                    <span *ngIf="value == 'Outdated'" class="badge bg-danger" title="{{ value }}"> {{ value }} </span>
                    <span *ngIf="value == 'Draft'" class="badge bg-info" title="{{ value }}"> {{ value }} </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [minWidth]="70" [maxWidth]="200"  name="Create Date" prop="created_at" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value | date:'MMM d, y h:mm a '}}"> {{ value |  date:'MMM d, y h:mm a '}} </span>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column [minWidth]="70" [maxWidth]="100" name="Action" prop="Id" [draggable]="false"
                  [sortable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="btn btn-outline-secondary btn-mini" [routerLink]="['/post-edit',row.id]" [queryParams]="{status: 'Pending'}" >
                      <i class="feather icon-edit"></i> Edit
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

            </div>

          </div>
        </div>
        <div class="card-footer ">

        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>


</block-ui>
