<block-ui>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-default">
        <div class="card-header">
          <h5>students List </h5>
           <button class="btn btn-primary btn-sm mr-1" (click)="openModal(templateStudent)">  <i class="fa fa-plus"></i> Student</button>
           <button class="btn btn-success btn-sm mr-1" (click)="openExcelUplodModal(templateStudentExcelUpload)">  <i class="fa fa-upload"></i>Excel Upload</button>
          <!-- <button class="btn btn-secondary  btn-sm float-end" [routerLink]="[ '/user-entry' ]"><i
              class="feather icon-plus "></i> Create Customer</button> -->
        </div>
        <div class="card-block ">
          <div class="row ">

            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-hover table-border table-striped">
                  <thead>
                    <tr>
                      <td>Sl</td>
                      <td>Name Bangali</td>
                      <td>Name English</td>
                      <td>Photo</td>
                      <td>School</td>
                      <td>Teacher</td>
                      <td>Status</td>
                      <td class="text-center">Action</td>
                    </tr>
                  </thead>
                    
                  <tbody>
                    <tr *ngFor="let student of students; let i=index">
                      <!-- <td><img class="media-object img-circle card-list-img image-size" src="assets/images/avatar-5.png" alt="Generic placeholder image"></td> -->
                      <td>{{ i+1  }}</td>
                      <td>{{ student.name_bn  }}</td>
                      <td>{{ student.name_en  }}</td>
                      <td>
                        <ng-container *ngIf="student.photo!==null;else second">
                          <img src="{{baseUrl +'/'+ student.photo}}" width="50">
                        </ng-container>

                        <ng-template #second>
                            <ng-container>N/A</ng-container>
                        </ng-template>
                      </td>
                      <td>{{ student.school?student.school.name_bn:'N/A'}}</td>
                      <td>{{ student.teacher?student.teacher.name_bn:"N/A" }}</td>

                      <td>
                        <ng-container *ngIf="student.status === 'Active';else Inactive"><span class="text-success">Active</span> </ng-container>
                        <ng-template #Inactive>
                            <ng-container *ngIf="student.status === 'Inactive';else other"><span class="text-danger">Inactive</span> </ng-container>
                        </ng-template>
                        <ng-template #other>Other</ng-template>
                      </td>

                      <td>
                        <button class="btn btn-warning btn-mini mr-1" (click)="openModalProfile(templateStudent,student)" title="Update Profile">  <i class="fa fa-edit"></i> Edit</button> |
                        <button class="btn btn-warning btn-mini mr-1" (click)="openModalProfile(templateStudent,student)" title="Update Profile">  <i class="fa fa-edit"></i> Show</button> |
                        <button class="btn btn-danger btn-mini mr-1" (click)="submitDeleteForm(student)" title="Delete Class Info">  <i class="fa fa-times"></i> Delete</button>
                      </td>
                      
                  </tr>
                  </tbody>
                </table>
              </div>
              
            </div>

          </div>
        </div>
        <div class="card-footer ">

        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>

  <ng-template #templateStudentExcelUpload>
    <div class="modal-header ">
      <h4 class="modal-title float-start " [innerHtml]="modalTitle"></h4>
      <a href="{{sampleExcelFile}}" download="download" title="Download sample excel file"> <i class="fa fa-download"></i> Sample Excel  - </a>
      <button class="btn btn-danger btn-sm close float-end " aria-label="Close " (click)="modalHideProfile()">
        <i class="feather icon-x"></i>
      </button>
    </div>
    <div class="modal-body ">

      <div class="row" >
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              
              <form [formGroup]="studentUploForm" autocomplete="off">

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="row">
        
                    <div class="col-md-6">
                      <div class="space mb-3">
                        <div class=" pb-2">
                          <div class="card-header text-center">
                            <h5 class="card-title">Choose Excel file</h5>
                          </div>

                          <div class="card-body bg-white" (click)="pictureInput.click()">
                            <input class="btn-img-upload"  #pictureInput accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                              (change)="readExcelFileUrl($event,pictureInput)"
                              type="file" >
                          </div>
                        </div>
                      </div>
                    </div>
        
                  </div>
        
                  </div> <!--end col-12-->
        
                  <div class="col-12">
                    <button type="button" (click)="onExcelUploadFormSubmit()" class="btn btn-secondary btn-testz">
                      <i class="fa fa-check"></i> {{btnSaveText}}
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-outline-danger me-2" (click)="modalHideProfile()"> <i class="feather icon-x"></i>
          Close</button>
      </div>

    </div>
  </ng-template>

  <ng-template #templateStudent>
    <div class="modal-header ">
      <h4 class="modal-title float-start " [innerHtml]="modalTitle"></h4>
      <button class="btn btn-danger btn-sm close float-end " aria-label="Close " (click)="modalHideProfile()">
        <i class="feather icon-x"></i>
      </button>
    </div>
    <div class="modal-body ">

      <div class="row" >
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              
              <form [formGroup]="createEditForm" autocomplete="off">

                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="space mb-3">
                          <label class="required">Division : </label>
                          <ng-select formControlName="division_id" [clearable]="false" (change)="onDivisionChange($event)" [clearOnBackspace]="false"
                           [items]="divisions" [multiple]=false bindLabel="division_bn" bindValue="id" placeholder="Select division">
                          </ng-select>
                         
                          <div *ngIf="submitted && f.division_id.errors" class="error-text">
                            <span *ngIf="f.division_id.errors.required" class="text-danger"> Division is required</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="space mb-3">
                          <label class="required">District : </label>
                          <ng-select formControlName="district_id" [clearable]="false" (change)="onDistrictChange($event)" [clearOnBackspace]="false"
                           [items]="districts" [multiple]=false bindLabel="district_bn" bindValue="id" placeholder="Select district">
                          </ng-select>
                         
                          <div *ngIf="submitted && f.district_id.errors" class="error-text">
                            <span *ngIf="f.district_id.errors.required" class="text-danger"> District is required</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="space mb-3">
                          <label class="required">Upazila : </label>
                          <ng-select formControlName="sub_district_id" (change)="onSubDistrictChange($event)" [clearable]="false" [clearOnBackspace]="false" 
                          [items]="subDistricts" [multiple]=false bindLabel="sub_district_bn" bindValue="id" placeholder="Select sub district">
                          </ng-select>
                         
                          <div *ngIf="submitted && f.sub_district_id.errors" class="error-text">
                            <span *ngIf="f.sub_district_id.errors.required" class="text-danger">Upazila is required</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="space mb-3">
                          <label class="required">School : </label> 
                          <ng-select formControlName="school_id" [clearable]="false" (change)="onSchoolChange($event)" [clearOnBackspace]="false" 
                          [items]="schools" [multiple]=false 
                          bindLabel="name_bn" bindValue="id" placeholder="Select school">
                          </ng-select>
                         
                          <div *ngIf="submitted && f.school_id.errors" class="error-text">
                            <span *ngIf="f.school_id.errors.required" class="text-danger">school is required</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="space mb-3">
                          <label class="required">Teacher : </label>
                          <ng-select formControlName="teacher_id" [clearable]="false" [clearOnBackspace]="false" [items]="teachers" [multiple]=false 
                          bindLabel="name_bn" bindValue="id" placeholder="Select Teacher">
                          </ng-select>
                         
                          <div *ngIf="submitted && f.teacher_id.errors" class="error-text">
                            <span *ngIf="f.teacher_id.errors.required" class="text-danger">Teacher is required</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="space mb-3">
                          <label class="required">Class : </label>
                          <ng-select formControlName="class_id" [clearable]="false" [clearOnBackspace]="false" [items]="classes" [multiple]=false 
                          bindLabel="name_bn" bindValue="id" placeholder="Select Class">
                          </ng-select>
                         
                          <div *ngIf="submitted && f.class_id.errors" class="error-text">
                            <span *ngIf="f.class_id.errors.required" class="text-danger">Class is required</span>
                          </div>
                        </div>
                      </div>

                    <div class="col-md-6">
                      <div class="space mb-3">
                        <label class="required">Student Name(Bengali): </label>
                        <input formControlName="name_bn" type="text"   
                        class="form-control form-control-sm"  placeholder="Enter S bengali name">
                      
                        <div *ngIf="submitted && f.name_bn.errors" class="error-text">
                          <span *ngIf="f.name_bn.errors.required" class="text-danger">Bengali name is required</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="space mb-3">
                        <label class="required">Student Name(English): </label>
                        <input formControlName="name_en" type="text"
                          class="form-control form-control-sm"  placeholder="Enter student english name">
                      
                          <div *ngIf="submitted && f.name_en.errors" class="error-text">
                          <span *ngIf="f.name_en.errors.required" class="text-danger">English name is required</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="space mb-3">
                        <label class="required">Age : </label>
                        <input formControlName="age" type="number" min="0" max="65"
                          class="form-control form-control-sm"  placeholder="Enter Student age">
                        
                          <div *ngIf="submitted && f.age.errors" class="error-text">
                          <span *ngIf="f.age.errors.required" class="text-danger"> age is required</span>
                          <span *ngIf="f.age.errors.age" class="text-danger"> Invalid age format</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="space mb-3">
                        <label class="required">Gender : </label>
                        <ng-select formControlName="gender" [clearable]="false" [clearOnBackspace]="false" [items]="gerners" [multiple]=false 
                        bindLabel="name" bindValue="value" placeholder="Select Student Gender">
                        </ng-select>
                        
                         <div *ngIf="submitted && f.gender.errors" class="error-text">
                          <span *ngIf="f.gender.errors.required" class="text-danger"> Gender is required</span>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-6" >
                      <div class="space mb-3">
                        <label>Guardian Mobile: </label>
                        <input formControlName="guardian_mobile" type="text"
                          class="form-control form-control-sm"  placeholder="Enter Guardian Mobile">
                        <div *ngIf="submitted && f.guardian_mobile.errors" class="error-text">
                          <span *ngIf="f.guardian_mobile.errors.required" class="text-danger"> Guardian Mobile is required</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="space mb-3">
                        <label>Guardian Email : </label>
                        <input formControlName="guardian_email"  type="text" 
                         class="form-control form-control-sm"  placeholder="Enter Guardian Email">

                        <div *ngIf="submitted && f.guardian_email.errors" class="error-text">
                          <span *ngIf="f.guardian_email.errors.required" class="text-danger"> Guardian Email is required</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="space mb-3">
                        <label class="required">Status : </label>
                        
                        <ng-select formControlName="status" [clearable]="false" [clearOnBackspace]="false" [items]="status" [multiple]=false bindLabel="name" bindValue="status" placeholder="Select status">
                        </ng-select>
                       
                        <div *ngIf="submitted && f.status.errors" class="error-text">
                          <span *ngIf="f.status.errors.required" class="text-danger"> Status is required</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="space mb-3">
                        <label class="required">Sequence : </label>
                        <input formControlName="sequence"  type="number" 
                         class="form-control form-control-sm"  placeholder="Enter sequence number">
                       
                        <div *ngIf="submitted && f.sequence.errors" class="error-text">
                          <span *ngIf="f.sequence.errors.required" class="text-danger"> Sequence is required</span>
                        </div>
                      </div>
                    </div>
        
                    <div class="col-md-6">
                      <div class="space mb-3">
                        <div class="card bg-light pic-upload pb-2">
                          <div class="card-header text-center">
                            <h5 class="card-title">Picture (230x230)</h5>
                          </div>

                          <div class="card-body bg-white" (click)="pictureInput.click()">
                            <img  *ngIf="!imageUrl" src="https://via.placeholder.com/100x100?text=Upload Photo">
                            <img style="width:100px; height: 100px;" *ngIf="imageUrl" [src]="imageUrl">
                            <input class="btn-img-upload" #pictureInput accept='image/png,image/jpeg'
                              (change)="readURL($event, pictureInput)"
                              type="file">
                          </div>

                          <div class="card-footer">
                              <button *ngIf="imageUrl" type="button" (click)="RemovePhoto()" class="btn btn-outline-secondary btn-sm">
                                <i class="fa fa-cancel"></i> Remove Photo
                              </button>
                          </div>

                        </div>
                      </div>
                    </div>
        
                  </div>
        
                  </div> <!--end col-12-->
        
                  <div class="col-12">
                    <button type="button" (click)="onFormSubmit()" class="btn btn-secondary btn-testz">
                      <i class="fa fa-check"></i> {{btnSaveText}}
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-outline-danger me-2" (click)="modalHideProfile()"> <i class="feather icon-x"></i>
          Close</button>
      </div>

    </div>
  </ng-template>


</block-ui>
