.block-ui-loader {
  border-radius: 50%;
  border-top: 10px solid #8B83F6;
  border-bottom: 10px solid #8B83F6;
  border-right: 10px solid #ffffff;
  border-left: 10px solid #ffffff;
  // border-right: 10px solid #e5a812;
  // border-left: 10px solid #e5a812;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  float: left;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.block-ui-template p {
  margin: 20px 10px 0;
  font-size: x-large;
  float: left;
  color: #f3f3f3;
  font-family: cursive;
}

.block-ui-template {
  left: 50% !important;
}
