/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.media {
  display: flex;
  align-items: flex-start;
}

.custom-control-label {
  margin-left: 0.5rem !important;
}

.ngx-datatable .datatable-body .datatable-body-row>div {
  display: flex;
  border-bottom: 1px groove rgb(224 224 224 / 26%);
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  background-color: #EDEDFA;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #142A97;
  padding: 20px;

}

// .btn-primary {
//   color: rgb(255, 255, 255);
//   background-color: #766df4;
//   border-color: #766df4;
//   box-shadow: unset
// }

// .btn-primary:hover {
//   color: rgb(255, 255, 255);
//   background-color: #8b83f6;
//   border-color: #847cf5
// }

// .btn-check:focus+.btn-primary,
// .btn-primary:focus {
//   color: rgb(255, 255, 255);
//   background-color: #8b83f6;
//   border-color: #847cf5;
//   box-shadow: unset, 0 0 0 0 rgba(100, 93, 207, .5)
// }

// .btn-check:checked+.btn-primary,
// .btn-check:active+.btn-primary,
// .btn-primary:active,
// .btn-primary.active,
// .show>.btn-primary.dropdown-toggle {
//   color: rgb(255, 255, 255);
//   background-color: #918af6;
//   border-color: #847cf5
// }

// .btn-check:checked+.btn-primary:focus,
// .btn-check:active+.btn-primary:focus,
// .btn-primary:active:focus,
// .btn-primary.active:focus,
// .show>.btn-primary.dropdown-toggle:focus {
//   box-shadow: unset, 0 0 0 0 rgba(100, 93, 207, .5)
// }

// .btn-primary:disabled,
// .btn-primary.disabled {
//   color: rgb(255, 255, 255);
//   background-color: #766df4;
//   border-color: #766df4
// }
